@import '../styles/colors.scss';

.button {
  margin: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 14px;
  color: $primary-color;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;

  &--primary {
    background: $primary-color;
    color: #ffffff;
  }

  &--secondary {
    background: $secondary-color;
    color: #ffffff;
  }
}
